input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bg-dark{
    background-image: var(--bs-gradient);
    --bs-bg-opacity:1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important;
}

.circle{
    border: 1px solid black;
    height: max-content;
    width: min-content;
    border-radius: 50%;
    color: whitesmoke;
    background-color: black;
    padding: 0.5%;
}