input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.circle{
    border: 1px solid black;
    height: max-content;
    width: min-content;
    border-radius: 50%;
    color: whitesmoke;
    background-color: black;
    padding: 0.5%;
}